# NPM configuration

# Save exact versions instead of using ^
save-exact=true

# Automatically install peer dependencies
legacy-peer-deps=false

# Set log level
loglevel=warn

# Engine strict
engine-strict=true

