{
  "admin": {
    "email": "admin@example.com",
    "password": "admin_password"
  },
  "adminInstitution": {
    "email": "admin_institution@example.com",
    "password": "admin_institution_password"
  },
  "reviewer": {
    "email": "reviewer@example.com",
    "password": "reviewer_password"
  },
  "user": {
    "email": "user@example.com",
    "password": "user_password"
  },
  "commonPassword": "Test@123"
}

